{% extends "admin/base.html" %}
{% load thumbnail %}
{% load i18n %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ ADMINFILES_MEDIA_URL }}adminfiles/adminfiles.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" src="{{ JQUERY_URL }}"></script>
    <script type="text/javascript" charset="utf-8">
        var FIELD = parent.document.getElementById('{{field_id}}');
        var START = "{{ ADMINFILES_REF_START|safe }}";
        var END = "{{ ADMINFILES_REF_END|safe }}";
    </script>
    <script type="text/javascript" src="{{ ADMINFILES_MEDIA_URL }}adminfiles/adminfiles.js"></script>

{% endblock %}
{% block bodyclass %}adminfiles{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block userlinks %}{% endblock %}
{% block content %}
<div id="adminfiles-filter">
  <ul>
  {% for browser in browsers %}
  <li>
    <a href="{{ browser.url }}?field={{field_id}}">{{ browser.link_text }}</a>
  </li>
  {% endfor %}
  <li class="upload">
    <a href="{% url admin:adminfiles_fileupload_add %}" class="addlink" id="add_id_uploads" onclick="return showAddUploadPopup(this);">{% trans "Upload" %}</a>
  </li>
  <li>
    <a id="refresh" href="#"><img src="{{ADMINFILES_MEDIA_URL}}adminfiles/icon_refreshlink.gif" /> {% trans "Refresh" %}</a>
  </li>
</div>

<ul id="adminfiles">
{% block files %}
{% for f in files %}
   <li class="item {{f.content_type}} {{f.sub_type}}" {% if f.is_image %}style="background-image:url({% thumbnail f.upload 144x150 %});"{% else %}{% if f.mime_image %}style="background-image:url({{ f.mime_image }});"{% endif %}{% endif %}>
       <div class="popup">
           <a href="#" class="close" title="Close">X</a>
           <ul>
	     {% ifequal field_type "select" %}
	     <li><a class="select" href="{{f.upload.url}}" rel="{{f.id}}" title="{{f.title}}">{% trans "Select" %}</a></li>
	     {% else %}
             {% for link in f.insert_links %}
             <li>
               <a class="insert" href="{{ f.upload.url }}" rel="{{ link.ref }}">
                 {{ link.desc }}
               </a>
             </li>
             {% endfor %}
	     {% endifequal %}
           </ul>
           <a href="{% url admin:adminfiles_fileupload_delete f.id %}" class="deletelink" id="ddd" onclick="return showEditPopup(this);">{% trans "Delete" %}</a>
           <a href="{% url admin:adminfiles_fileupload_change f.id %}" class="changelink" id="eee" onclick="return showEditPopup(this);">{% trans "Change" %}</a>
       </div>
       <div class="upload-title">{{f.title}}<br />
         <small>{{f.upload_date|date:"F j, Y"}}</small><br />
         <span class="description">{{f.description}}</span><br /></div>
   </li>
   {% endfor %}
{% endblock %}
</ul>
{% endblock %}
