{% extends "adminfiles/uploader/base.html" %}
{% load i18n %}
{% block files %}
<li class="nav">
  {% if prev_page %}
  <a class="prev" href="{{ prev_page }}">&laquo; {% trans "Newer" %}</a>
  {% endif %}
  <a class="next" href="{{ next_page }}">{% trans "Older" %} &raquo;</a>
</li>
{% for p in photos %}
<li class="item image flickr" style="background-image:url({{ p.url }})">
  <div class="popup">
    <a href="#" class="close" title="Close">X</a>
    <ul>
      <li><a class="insert" href="{{ p.url }}" rel="{{ p.link }}" title="{{ p.title }}">{% trans "Insert Photo" %}</a></li>
    </ul>
  </div>
  <div class="upload-title">
    {{ p.title }}
  </div>
</li>
{% endfor %}
{% endblock %}
