{% extends "adminfiles/uploader/base.html" %}
{% load i18n %}
{% block files %}
{% for v in videos %}
<li class="item video" style="background-image:url({{ v.thumb }})">
  <div class="popup">
    <a href="#" class="close" title="{% trans "Close" %}">X</a>
    <ul>
      <li><a class="insert" rel="{{ v.url }}" href="{{ v.url }}" title="{{ v.title }}">{% trans "Insert Video" %}</a></li>
    </ul>
  </div>
  <div class="upload-title">{{ v.title }}<br />
    <small>{{ v.upload_date }}</small><br />
  </div>
</li>
{% endfor %}
{% endblock %}
