{% extends "adminfiles/uploader/base.html" %}
{% block files %}
{% for v in videos %}
<li class="item youtube" style="background-image:url({{ v.thumb }})">
  <div class="popup">
    <a href="#" class="close" title="Close">X</a>
    <ul>
      <li><a class="insert" rel="{{ v.url }}" href="{{ v.url }}" title="{{ v.title }}">Insert Video</a></li>
    </ul>
  </div>
  <div class="upload-title">{{ v.title }}<br />
    <small>{{ v.upload_date }}</small><br />
    <!-- {{ v.description }} -->
  </div>
</li>
{% endfor %}
{% endblock %}
